<p id="notice"><%= notice %></p>

<h1><%= @bodega.nombre %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @bodega.bodegas_materials.each do |producto| %>
        <td><%= Material.find_by(id: producto.material_id).descripcion %></td>
        <td><%= producto.cantidad %></td>
        <td><%= link_to 'Editar', editar_material_bodega_path(producto: producto)%></td>
        <td><%= link_to 'Eliminar', destroy_material_bodega_url(producto: producto, bodega: @bodega), data: { confirm: '¿Esta seguro?' } %>
    </tr>
      <% end %>
</tbody>
</table>



<%= link_to 'Agregar materiales', edit_bodega_path(@bodega) %> |
<%= link_to 'Volver', bodegas_path %>
