<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedor.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proveedor.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Materiales que vende</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @proveedor.materials_proveedors.each do |producto| %>
        <td><%= Material.find_by(id: producto.material_id).descripcion %></td>
        <% if can? :edit, producto %>
        <td><%= link_to 'Eliminar', destroy_material_proveedor_url(producto: producto, proveedor: @proveedor), data: { confirm: '¿Esta seguro?' } %>
        <%end%>
    </tr>
      <% end %>
</tbody>
</table>

<% if can? :edit, @proveedor%> <%= link_to 'Editar', edit_proveedor_path(@proveedor) %> | <%end%>
<%= link_to 'Volver', proveedors_path %>
