<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div id="materialHeader" style="display:none">
     Materiales:
  </div>
  <br />
  <ul id="myList">
  </ul>
  <%= submit_tag "Agregar material", :type =>  "button",
      :id => "addMaterial", :onclick => 'addMaterialsField()'%>
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
