<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo crear la solicitud</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :bodega %>
    <%= form.select(:bodega_id, options_from_collection_for_select(Bodega.all, :id, :nombre)) %>
  </div>

  <% if can? :edit_status, @solicitud %>
    <div class="field">
      <%= form.label :estado %>
      <%= form.select(:estado, [['Nuevo', 'Nuevo'], ['Aceptado', 'Aceptado'],
                                ['Rechazado', 'Rechazado'], ['Atendido', 'Atendido'],
                                 ['En espera', 'En espera'], ['Recibido', 'Recibido']]) %>
    </div>
  <% end %>


  <div id="materialHeader">
     <h2>Materiales</h2>
  </div>
  <br />
  <ul id="materialesSolicitud">
  </ul>
  <%= submit_tag "Agregar material", :type =>  "button",
      :id => "addMaterial", :onclick => 'addMaterialsField()'%>
  <br />



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
