<p id="notice"><%= notice %></p>

<h1><%= @solicitud.nombre %></h1>

<ul class="list-group">
  <li class="list-group-item">Creada por: <%= @solicitud.usuario.nombre %></li>
  <li class="list-group-item">Estado: <%= @solicitud.estado %></li>
  <li class="list-group-item">Supervisor: </li>
  <li class="list-group-item">Bodega: <%= @solicitud.bodega.nombre %></li>
  <li class="list-group-item">Prioridad: </li>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th>Cantidad en bodega</th>
      <th colspan="2">Opciones </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @solicitud.materials_solicituds.each do |producto| %>
        <td><%= Material.find_by(id: producto.material_id).descripcion %></td>
        <td><%= producto.cantidad %></td>
        <td><%= mat = BodegasMaterial.find_by(bodega: @solicitud.bodega,
          material: producto.material)
            if mat.nil?
              0
            elsif
              ''
              mat.cantidad
            end
          %></td>
        <td><%= link_to 'Comprar material', new_orden_de_compra_path(material_id: producto.material_id) %></td>
        <td><%= link_to 'Eliminar', destroy_material_url(producto: producto, solicitud: @solicitud), data: { confirm: '¿Esta seguro?' } %></td>
    </tr>
      <% end %>
</tbody>
</table>



<%= link_to 'Agregar materiales', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Volver', solicituds_path %>
