<p id="notice"><%= notice %></p>

<h1><%= @solicitud.nombre %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @solicitud.materials.each do |producto| %>
        <td><%= producto.descripcion %></td>
        <td><%= producto.cantidad %></td>
        <td><%= link_to 'Editar', solicituds_path %></td>
        <td><%= link_to 'Eliminar', solicituds_path %></td>
    </tr>
      <% end %>
</tbody>
</table>



<%= link_to 'Agregar materiales', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Volver', solicituds_path %>
