<%= form_with(model: orden_de_compra, local: true) do |form| %>
  <% if orden_de_compra.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo crear la orden de compra</h2>

      <ul>
      <% orden_de_compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :material_id, :value => params[:material_id] %>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
