<p id="notice"><%= notice %></p>

<h1>Ordenes De Compra</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Material</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_de_compras = OrdenDeCompra.accessible_by(current_ability)
    @orden_de_compras.each do |orden_de_compra| %>
      <tr>
        <td><%= Material.find_by(id: orden_de_compra.material_id).descripcion %></td>
        <td><%= orden_de_compra.cantidad %></td>
        <td><%= orden_de_compra.estado %></td>
        <td><%= link_to 'Detalles', orden_de_compra %></td>
        <td><%= link_to 'Eliminar', orden_de_compra, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
        <% if can? :edit, orden_de_compra%>
        <td><%= link_to 'Editar', edit_orden_de_compra_path(orden_de_compra, material_id: orden_de_compra.material_id) %></td>
        <% end %>
        <% if can? :manage, @proveedor%>
          <td><%= link_to 'Cotizar', cotizar_path(material_id: orden_de_compra.material_id) %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
