<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<% if can? :manage, @usuario %>
  <%= link_to "Administrar usuarios", usuarios_path(@usuario) %>
<% end %>
<br />

<%= link_to "Consultar Solicitudes", solicituds_path %>
